.Detail .slider-list{height:200px!important}
.detailAuthBox{margin-top:20px;display:flex;padding:0 15px}
.detailAuthIcon{display:block;height:35px;width:35px}
.detailAuthContent{padding:5px 15px 50px;font:14px/16px "";}
